<section class="tools" id="tools" data-reveal>
  <div class="container">
    <h2 class="section-title">Tools</h2>
  </div>

  <div class="tools-marquee">
    <div class="tools-track">
      <!-- blok 1 (asli, terbaca screen reader) -- diulang 3x supaya total lebar > lebar layar terlebar -->
      <span class="tools-icon tools-icon--python"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker"
        ><i class="fa-brands fa-docker"></i
      ></span>
      <span class="tools-icon tools-icon--python"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker"
        ><i class="fa-brands fa-docker"></i
      ></span>
      <span class="tools-icon tools-icon--python"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker"
        ><i class="fa-brands fa-docker"></i
      ></span>
      <!-- blok 2: salinan PERSIS blok 1 (aria-hidden) -- wajib sama persis, ini yang bikin loop mulus di titik 50% -->
      <span class="tools-icon tools-icon--python" aria-hidden="true"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js" aria-hidden="true"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5" aria-hidden="true"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3" aria-hidden="true"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git" aria-hidden="true"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker" aria-hidden="true"
        ><i class="fa-brands fa-docker"></i
      ></span>
      <span class="tools-icon tools-icon--python" aria-hidden="true"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js" aria-hidden="true"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5" aria-hidden="true"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3" aria-hidden="true"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git" aria-hidden="true"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker" aria-hidden="true"
        ><i class="fa-brands fa-docker"></i
      ></span>
      <span class="tools-icon tools-icon--python" aria-hidden="true"
        ><i class="fa-brands fa-python"></i
      ></span>
      <span class="tools-icon tools-icon--js" aria-hidden="true"
        ><i class="fa-brands fa-js"></i
      ></span>
      <span class="tools-icon tools-icon--html5" aria-hidden="true"
        ><i class="fa-brands fa-html5"></i
      ></span>
      <span class="tools-icon tools-icon--css3" aria-hidden="true"
        ><i class="fa-brands fa-css3-alt"></i
      ></span>
      <span class="tools-icon tools-icon--git" aria-hidden="true"
        ><i class="fa-brands fa-git-alt"></i
      ></span>
      <span class="tools-icon tools-icon--docker" aria-hidden="true"
        ><i class="fa-brands fa-docker"></i
      ></span>
    </div>
  </div>
</section>
