<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fayyad - Portfolio</title>
    <meta property="og:title" content="Fayyad Mohammad Madani - Portfolio" />
    <meta
      property="og:description"
      content="Portfolio Fayyad Mohammad Madani, mahasiswa Sistem Informasi Fasilkom UI."
    />
    <meta
      property="og:image"
      content="https://fayyad-mohammad-myportofolio.pws.cs.ui.ac.id/static/img/og-preview.webp"
    />
    <meta
      property="og:url"
      content="https://fayyad-mohammad-myportofolio.pws.cs.ui.ac.id/"
    />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://api.fontshare.com" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    {% include "components/_navbar.html" %}
    <main>
      {% include "sections/_about-me.html" %}
      {% include "sections/_experience.html" %}
      {% include "sections/_projects.html" %}
      {% include "sections/_tools.html" %}
    </main>
    {% include "components/_footer.html" %}
    <script src="/static/js/carousel.js" defer></script>
    <script src="/static/js/scroll-reveal.js" defer></script>
  </body>
</html>
